.boardTitleWrapper{
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-image: url('../img/plogging_people.png');
  background-position: 90% bottom;
  background-repeat: no-repeat;
  background-size: 250px;

  @media only screen and (max-width: 620px) {
    flex-direction: row;
  }
  .board-title-container {
    padding: 20px 50px 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //border: 5px solid #def5f0;
    //border-radius: 20px;
    //background: #def5f0;
    h2 {
      font-weight: bold;
      text-align: center;
      color : rgb(97 78 78 / 85%);
      span {
        font-size: 35px;
        padding-left: 15px;
        color: #FFCB77;
      }
      @media only screen and (max-width: 620px){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 30px;
        span {
          font-size: 40px;
        }
      }
    }
    button {
      margin: 20px 0;
      color : white;
      background: rgb(150, 200, 189);
      border: none;
      &:hover {
        border: 1px solid rgb(150, 200, 189);
        color: rgb(107 148 139);
        background: white;
      }
    }
  }
}

.boardNoticeWrapper {
  background: #00af8921;
  height: 250px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  .noticeContainer {
    .noticeTitle {
      h4{
        font-weight: bold;
      }
    }
    width: 80%;
    max-width: 800px;
    @media only screen and (max-width: 620px) {
      width: 90%;
    }
    background: white;
    border-radius: 10px;
    border: 1px solid rgb(227, 230, 239);
    padding: 10px 20px;
  }
}

.boardDetailTitle {
  width: 100%;
  padding: 30px 30px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  .homeBtnWrapper{
    display: flex;
    width: 80%;
    max-width: 600px;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    .homeBtn {
      color: rgb(107 148 139);
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      span {
        font-weight: bold;
        padding-left: 5px;
      }
    }
  }
}

.boardDetailWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  @media only screen and (max-width: 767px) {
    padding: 30px 0;
  }
  .boardDetail {
    width: 80%;
    max-width: 600px;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }

  }
  .detailPage {
    .ukait .ninjadash-blog .ninjadash-blog-thumb::after {
      background: none !important;
    }
    .ninjadash-blog__bottom {
      padding-top: 15px;
      margin-top: 20px;
      border-top: 1px solid rgb(227, 230, 239);

      .ninjadash-blog__author{
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .badge-wrapper {
          width: 50px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
        .writer-wrapper {
          cursor: pointer;
          padding-left: 5px;
          width: 150px;
          .ninjadash-blog__author-name {
            margin-left: 0;
          }
          span {
            font-weight: bold;
          }
        }
      }
      .btn-by-status {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        button + button {
          margin-left: 10px;
        }
      }
    }
  }
}




.board-register-btn-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10%;
  background: rgba(0, 175, 137, 0.1294117647);
  height: 150px;
}

.boardCategoryWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .categoryContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 70%;
    @media only screen and (max-width: 1024px) {
      width: 80%;
    }
    @media only screen and (max-width: 767px) {
      width: 90%;
    }

    .btn {
      padding: 5px 15px;
      cursor: pointer;
      display: flex;
      width: 100px;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .all {
      background: rgb(150 200 189);
      color: white;
    }
  }

  .boardContainer {
    border-top: 1px solid rgb(227, 230, 239);
    padding-top: 20px;
    width: 70%;
    @media only screen and (max-width: 1024px) {
      width: 80%;
    }
    @media only screen and (max-width: 767px) {
      width: 90%;
    }

    .board {
      cursor: pointer;
    }

    .ninjadash-blog__meta--item span svg {
      width: 18px !important;
      height: 18px !important;
    }

    .board-pagination {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

      li {
        font-size: 17px;
      }

      .beforePages, .beforePage .afterPages, .afterPage {
        font-size: 22px;
      }
    }
  }
}

.replyWrapper{
  width: 100%;
  background: #96c8bd1a;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #ededed;
  .replyTitle {
    width: 100%;
    h4 {
      padding: 15px 20px 0;
      font-weight: bold;
    }
  }
  .replyInputWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 30px;
    .replyInput {
      width: 85%;
      height: 50px;
      resize: none;
      border : 1px solid rgb(227, 230, 239);
      padding: 5px 0px 5px 10px;
    }
    .replyBtn {
      background: rgb(150, 200, 189);
      color: white;
      border-radius: 0;
      border : 1px solid rgb(227, 230, 239);
      border-left: none;
      width: 15%;
      height:50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      &:hover {
        background: #96c8bd1a;
        color : rgb(107 148 139);
        font-weight: bold;
      }
    }
  }
  .replyList{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    .replyContainer {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      .WriterContainer {
        img {
          width: 30px;
          margin-right: 10px;
        }
      }
      .replyContent {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 450px;
        @media only screen and (max-width: 670px) {
          max-width: 400px;
        }
        @media only screen and (max-width: 620px) {
          max-width: 300px;
        }
        @media only screen and (max-width: 500px) {
          max-width: 250px;
        }
        .reply-info{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          span {
            font-weight: bold;
          }
          div {
            padding-left: 10px;
            font-size: 13px;
          }
        }
        .content {
        }
      }
      .removeBtn {
        margin-left: auto;
        cursor: pointer;
        &:hover {
          color : #F07167;
        }
      }
    }
    .replyContainer + .replyContainer {
      margin-top: 20px;
    }
  }
}

