.challengedetail{
    /*width: 100%;*/
}

/* 챌린지 상세페이지 문구 */
.challengedetail .challenge-icon{
    color: #227C9D;
    background: none;
}

.detail-top {
    margin: 0 auto;
}

.detail-top .challenge-page{
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #227C9D;
    text-align: center;
    width: 200px;
}

/* 챌린지 이미지 */
.challengedetail .challengeImage{
    display: block;
    width: 100%;
    height: 900px;
    margin: 0 auto;
}
/* 챌린지 이미지 위 문구*/
.image-title{
    position: relative;
}
.challengedetail  .chImageTitle {
    color: white;
    font-size: 32px;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 650px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.87) 25%, transparent);
}
.challengedetail  .chImageTitle p1{
    font-size: 20px;
    font-weight: 100;
    margin-top: 30px;
}
.challengedetail  .chImageTitle h1{
    color: white;
    margin-top: 50px;
}
.challengedetail  .chImageTitle p2{
    display: block;
    font-size: 20px;
    font-weight: 100;
    line-height: 40px;
    margin-top: 60px;
}

/* 챌린지 타이틀 */
.chHeader{
    align-items: center;
    font-size: 20px;
    margin-top: 60px;
    padding-bottom: 10px;
    text-decoration-line: underline;
    text-underline-position: under;
    margin-left: 20px;
    position: relative;
}
.chHeader .chHeader-icon{
    color: #227C9D;
    background: none;
}

.chHeader .delete-bt{
    font-size: 13px;
    border: none;
    position: absolute;
    right: 2%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #F07167;
    color: #FEF9EF;
}

.chHeader .signup-bt{
    font-size: 13px;
    border: none;
    position: absolute;
    right: 10%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #227C9D;
    color: #FEF9EF;
}

.chPersonnel{
    margin-top: 10px;
    padding-left: 20px;
}

.chPersonnel .chPersonnel-icon{
    color: #227C9D;
    background: none;
}


/* 챌린지 기간 */
.chPeriod{
    margin-top: 20px;
}

.chPeriod .chPeriodDetail{
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.chPeriod .chPeriodDetail .chPeriodDetail-icon {
    color: #227C9D;
    background: none;
}

/* 챌린지 소개 */
.chIntroduction {
    border: 1px solid rgba(34, 124, 157, 0.39);
    width: 40%;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.chIntroduction .chIntroduction-icon{
    color: #227C9D;
    background: none;
}

.chIntroduction .Introduction {
    font-size: 25px;
    color: #227C9D;
}

.chIntroduction .IntroductionDetail{
    line-height: 30px;
    color: #227C9D;
}

.chIntroduction .IntroductionDetail span:nth-child(1){
    font-size: 20px;
}
.chIntroduction .IntroductionDetail span:last-child{
    text-decoration-line: underline;
}

/* 챌린지 일정 */
.chSchedule{
    padding-top: 150px;
    margin: 0 auto;
    width: 80%;
}

.chSchedule .scheduleHeader{
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #227C9D;
}

.chSchedule .scheduleHeader .scheduleHeader-icon{
    color: #227C9D;
    background: none;
}

.chSchedule .scheduleForm{
    display: flex;
    margin-top: 40px;
    position: relative;

}


.chSchedule .scheduleDay{
    text-align: center;
    width: 60px;
    background-color: #FFCB77;
    border-radius: 10px;
    color: #FEF9EF;
}
.chSchedule .scheduleDay li{
   margin-top: 5px;
}

.chSchedule .scheduleForm .scheduleDetail {
    margin-left: 30px;
}

.chSchedule .scheduleForm .chParticipation{
    border: none;
    margin-top: 15px;
    position: absolute;
    right: 0;
    padding: 10px;
    background-color: #FFCB77;
    border-radius: 5px;
    color: #FEF9EF;
}
.chSchedule {
    border-bottom: 2px solid #227C9D;
    padding-bottom: 20px;
}

.scbutton{
    /*border-bottom: 2px solid #227C9D;*/
    /*padding-bottom: 20px;*/
    margin-top: 30px;
}
.scheduleButton{
    color: white;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 10px;
    background-color: #227C9D;
    border-radius: 5px;
}

/* 챌린지 주의사항 */
.precautions{
    padding-top: 120px;
    margin: 0 auto;
    width: 80%;
}

.precautions .precautionsHeader p{
    font-size: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #227C9D;
}

.precautions .precautionsHeader .precautionsHeader-icon{
    background: none;
    color: #F07167;
}

.precautions .precautionsDetail p{
    color: #F07167;
    font-size: 10px;
}

.precautions .precautionsDetail .precautionsDetail-icon{
    background: none;
    color: #F07167;
}