.index-page-plogging {
  background: white;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  h2 {
    font-size: 40px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin:0;
    padding-bottom: 5px;
  }
  .smileIcon {
    font-size: 30px;
  }
}
.index-page-ploggingInfo {
  background: #227C9D;
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    align-content: center;
    span {
      width: 90%;
    }
    h2 {
      color : #FFCB77;
      font-size: 27px;
      font-weight: bolder;
      padding-bottom: 10px;
    }
    .card {
      margin-top: 30px;
      height: 200px;
      justify-content: center;
      h3 {
        text-align: center;
        color : #F07167;
        font-weight: bold;
      }
    }
    @media only screen and (max-width: 620px) {
      padding: 20px 20px 50px;
      flex-flow: column;
      h2 {
        padding-top: 30px;
      }
      span {
        width: 100%;
      }
      .card {
        width: 100%;
      }
    }
    @media only screen and (min-width: 620px) {
      .card + .card {
        margin-left: 15px;
      }
    }
  }
}
.index-page-challenge {
  padding: 20px 0 30px;
  min-height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  .container {
    width: 80%;
    max-width: 800px;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    align-content: center;
    .challenge-search {
      width: 100%;
      .ninjadash-knowledgetop{
        background: #f8f9fb;
        .ninjadash-knowledgetop__title{
          color: #227C9D;
          font-size: 27px;
        }
        .ninjadash-knowledgetop__search--form{
          width: 100%;
          .ninjadash-knowledgetop__formInner{
            background: #f8f9fb;
            box-shadow: 0 2px 2px #92949F30;
            @media only screen and (max-width: 575px) {
              box-shadow: none;
            }
            .ant-form-item-control-input{
              input{
                position: relative;
              }
            }
            max-width: 800px;
            .btn-search{
              @media only screen and (max-width: 575px){
                border-radius: 4px;
                border-right: 1px solid rgb(227, 230, 239);
              }
              position: absolute;
              right: 0;
              top:0;
              color: #f8f9fb;
              background: #227C9D;
              border: 0;
              &:hover{
                color: #00AF89;
                background: white;
              }
            }
          }
        }
      }
    }
  }
  .createChallenge{
    background-color: #17C382;
    color: #f8f9fb;
  }
  .challenge-slider-title {
    width: 70%;
    @media only screen and (max-width: 620px) {
      width: 90%;
    }
    h4 {
      font-weight: bold;
    }
  }
  //style={{ display: 'flex', flexWrap: 'wrap', flexDirection: 'row' }}
  .challengeList{
    .sliderWrapper{
      margin-left: 10px;
      margin-top: 20px;
      width: 30%;
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      .ploImage{
        width: 100%;
      }
      .mapWrapper{
        margin-bottom: 50px;
        overflow: hidden;
        border-radius: 10px;
        width: 250px;
        position: relative;
        .mapHover {
          display: none;
          position: absolute;
          bottom: 0;
          right: 0;
          .challengeInfo {
            h4 {
              font-weight: bold;
              color: white;
            }
            width: 100%;
            padding: 0 20px;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-start
          }
        }
        &:hover {
          transition: .2s;
          .mapHover{
            width: 100%;
            height: 60%;
            background: #0b28328a;
            color: white;
            display: block;
          }
        }
      }
      .mapWrapper + .mapWrapper {
        margin-left : 20px;
      }
      @media only screen and (max-width: 620px) {
        flex-flow: column;
        h2 {
          padding-top: 30px;
        }
        .mapWrapper {
          width: 100%;
        }
        .mapWrapper + .mapWrapper {
          margin-left: 0;
        }
      }
    }
  }
}