.image-intro {
  margin: 0 auto;
  padding: 0 5px;
  
  
  div {
    display: flex;
    label {
      font-size: 16px;
      padding: 5px;
    }
    textarea {
      display: flex; 
      margin: 0 auto;
      width: 912px;
      min-height: 160px;
      font-size: large;
      resize: none;
    }
    &:last-child{
      margin: 0 auto;
      padding: 0 5px;
    }
  }
  .card-image {
    display: flex;
  }
}

.essential-form {
  padding: 15px 0;
}

.address-detail {
  padding: 20px 0;
}

.gender-selection{
  display: flex;
  div {
    float: left;
    margin-right: 10px;
  }
}

.birth-form{
  padding: 15px 0;

  select {
    padding: 0 5px;
  }

  span {
    padding: 0 5px;
  }
}

.setting-form-actions {
  display: flex;
  div {
    margin: 0 auto;
  }
}