.friendContainer {
  width: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  @media only screen and (max-width: 620px) {
    //flex-direction: column-reverse;
    padding: 0;
  }

  // 플로거 친구 검색창
  .searchWrapper {
    background: #FEF9EF;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;

    .search-container {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: 1200px) {
        width: 70%;
      }
      @media only screen and (max-width: 1024px) {
        width: 80%;
      }
      @media only screen and (max-width: 840px) {
        width: 100%;
      }
      @media only screen and (max-width: 767px) {
        width: 100%;
        flex-direction: column;
      }
      .searchText {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: flex-end;
        padding: 30px 20px 30px 0;

        @media only screen and (max-width: 767px) {
          padding-right : 0;
          width: 100%;
          flex-direction: row;
          h3 + h3 {
            padding-left: 10px;
          }
        }
        h3 {
          font-weight: bold;
        }

      }
      .searchInput {
        background: #FEF9EF;
        min-width: 500px;
        max-width: 700px;
        @media only screen and (max-width : 767px) {
          width: 100%;
          min-width: 250px;
          @media only screen and ( max-width: 575px) {
            width: 90%;
          }
        }
        .ninjadash-knowledgetop {
          background: #FEF9EF;
          padding: 65px 0;
          //padding-right: 15%;
          @media only screen and (max-width : 767px) {
            padding: 0 0 65px;
          }
          @media only screen and ( max-width: 575px) {
            padding: 0 0 30px;
          }

        }

        .ninjadash-knowledgetop__search--form {
          width: 100%;

          .ninjadash-knowledgetop__formInner {
            background: #FEF9EF;
            box-shadow: none;
            flex-direction: column;
            position: relative;
            @media only screen and (min-width : 1080px) {
              margin-left: 30px;
            }
            @media only screen and (max-width : 575px) {
              padding: 0;
            }
            .ant-form-item-control {
              @media only screen and (max-width : 575px) {
                padding: 0;
              }
            }

            .ant-form-item-control-input {
              input {
                border: 1px solid rgb(227, 230, 239);
                max-width: 700px;
                position: relative;
                border-radius: 20px;
              }
              .ant-btn.ant-btn-default.ant-btn-lg.btn-search {
                border: none;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;
                border-right: 1px solid rgb(227, 230, 239);
                position: absolute;
                right: 0;
                top: 0;
                color: #00AF89;
              }
            }
            .searchKeyword {
              display: none;
              background :white;
              width: 100%;
              height: 200px;
              position: absolute;
              right:0;
              top: 35px;
              z-index: 555;
              border-right: 1px solid rgb(227, 230, 239);
              border-left: 1px solid rgb(227, 230, 239);
              border-bottom: 1px solid rgb(227, 230, 239);
              border-bottom-left-radius: 20px;
              border-bottom-right-radius: 20px;
            }
          }
        }
      }
    }
  }

  .searchResults {
    width: 100%;
    min-height: 200px;
    background: #FEF9EF;
    margin-top: -100px;
    display: none;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;

    .resultBox {
      border-top: 2px solid white;
      margin-top: 20px;
      padding-top: 20px;
      padding-bottom: 50px;
      width: 80%;
      height: 90%;
      @media only screen and (max-width: 576px) {
        padding-top: 28px;
      }
      @media only screen and (min-width: 1280px) {
        width: 70%;
      }
      .paginationWrapper {
        padding: 20px 0 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
      }
    }
    .searchClose {
      position: absolute;
      bottom: 20px;
      right: 20px;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      div {
        font-size: 13px;
        font-weight: 600;
      }
      .ant-avatar {
        background: #FEF9EF !important;
        .anticon svg {
          color : #282B37;
        }
      }
    }
  }

  // 플친 리스트
  .friendBoxWrapper {
    padding-left: 30px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    @media only screen and (max-width: 1080px) {
      padding-left: 0;
      width: 100%;
    }
    .toMeWrapper, .fromMeWrapper {
      height: 330px;
      width: 100%;
      padding: 20px;
      @media only screen and (min-width: 1080px) {
        max-width: 400px;
      }
      @media only screen and (max-width: 1080px) {
        width: 50%;
        max-width: 400px;
      }
      @media only screen and (max-width: 767px) {
        max-width: 600px;
        width: 80%;
      }
      @media only screen and (max-width: 620px) {
        width: 100%;
      }
      h4 {
        font-weight: bold;
      }

      .friendBox {
        overflow-y: auto;
        background: white;
        border: 1px solid rgb(227, 230, 239);
        padding: 10px;
        height: 250px;
        box-shadow: rgba(0, 0, 0, 0.125) 0 0 1px;
        border-radius: 5px;
      }
    }
  }

  // 채팅 박스
  .chatWrapper {
    padding-right: 30px;
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    @media only screen and (min-width: 1080px) {
      max-width: 800px;
      padding-right: 65px;
    }
    @media only screen and (max-width: 1080px) {
      padding: 20px;
      width: 100%;
      max-width: 800px;
      margin: 20px;
    }
    @media only screen and (max-width: 767px) {
      max-width: 600px;
      width: 80%;
    }
    @media only screen and (max-width: 620px) {
      width: 100%;
      margin: 0;
    }
    .chatTitle {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      padding-bottom: 10px;
      h4 {
        padding-left: 8px;
        font-weight: bold;
        margin:0;
      }
      .chatPlus {
        height: 35px;
        margin-left: 40px;
      }
    }

    .chatBox {
      box-shadow: rgba(0, 0, 0, 0.125) 0 0 1px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height: 570px;
      background: white;
      width: 80%;
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
      border: 1px solid rgb(227, 230, 239);

      .chatList {
        width: 35%;
        height: 575px;
        overflow-y: auto;
        border-right: 1px solid rgb(227, 230, 239);
        @media only screen and (max-width: 767px) {
          width:100%;
        }

        .chatListTitle{
          display: flex;
          align-items: center;
          justify-content: center;
          width:100%;
          height: 60px;
          border-bottom: 1px solid rgb(227, 230, 239);
          span {
            font-weight: bold;
          }
        }
        .chat-room {
          padding:5px 10px;
        }
      }

      .nowChat {
        width: 65%;
        height: 575px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @media only screen and (max-width: 767px) {
          display: none;
        }
        .nowChatTitle {
          height: 60px;
          border-bottom: 1px solid rgb(227, 230, 239);
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-content: center;
          span {
            padding-left: 20px;
            font-size: 16px;
            font-weight: bold;
          }
        }

        .nowChat-list-wrapper {
          width: 100%;
          overflow-y: auto;
          display: flex;
          flex-direction: column-reverse;
          flex-wrap: wrap;
          height: 450px;
          .message-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            min-height: 48px;
            margin-top: 20px;
            span {
              max-width: 80%;
              border-radius: 10px;
              padding: 10px 20px;
            }
          }
          .message-container.send {
            padding-right: 10px;
            justify-content: flex-end;
            span {
              background: #fef9ef;
            }
          }
          .message-container.receive {
            padding-left: 10px;
            justify-content: flex-start;
            span {
              background: #89c7de;
              color: white;
            }
          }
        }


        .addChat {
          height: 455px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding:20px;
        }
        .addChatInput {
          margin-top: auto;
          height: 60px;
          border-top: 1px solid rgb(227, 230, 239);
          position: relative;
          input {
            width: 82%;
            height: 50px;
            border: none;
            padding-left: 10px;
          }
          button {
            background: none;
            border: none;
            position: absolute;
            right:10px;
            top:13px;
          }
        }
      }
    }
  }
}
.ant-modal-body {
  .friend-container + .friend-container {
    border-top: 1px solid #d0d0d029;
  }
}
