.friendContainer {
  width: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  @media only screen and (max-width: 620px) {
    //flex-direction: column-reverse;
    padding: 0;
  }

  // 플로거 친구 검색창
  .searchWrapper {
    background: #FEF9EF;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;

    .searchText {
      width: 30%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-content: flex-end;
      padding: 30px 20px 30px 0;

      @media only screen and (max-width: 767px) {
        padding-right : 0;
        width: 100%;
        flex-direction: row;
        h3 + h3 {
          padding-left: 10px;
        }
      }
      h3 {
        font-weight: bold;
      }

    }
    .searchInput {
      background: #FEF9EF;
      width: 70%;

      @media only screen and (max-width : 767px) {
        width: 100%;
      }
      .ninjadash-knowledgetop {
        background: #FEF9EF;
        padding-left: 0;
        padding-right: 15%;
        @media only screen and (max-width : 767px) {
          padding: 0 65px 65px;
        }
        @media only screen and ( max-width: 575px) {
          padding: 0 30px 30px;
        }

      }

      .ninjadash-knowledgetop__search--form {
        width: 100%;

        .ninjadash-knowledgetop__formInner {
          background: #FEF9EF;
          box-shadow: none;
          flex-direction: column;
          position: relative;
          @media only screen and (min-width : 1080px) {
            margin-left: 30px;
          }
          @media only screen and (max-width : 575px) {
            padding: 0;
          }
          .ant-form-item-control {
            @media only screen and (max-width : 575px) {
              padding: 0;
            }
          }

          .ant-form-item-control-input {
            input {
              border: 1px solid rgb(227, 230, 239);
              max-width: 700px;
              position: relative;
              border-radius: 20px;
            }
            .btn-search {
              border: none;
              border-bottom-right-radius: 20px;
              border-top-right-radius: 20px;
              border-right: 1px solid rgb(227, 230, 239);
              position: absolute;
              right: 0;
              top: 0;
              color: #00AF89;
            }
          }
          .searchKeyword {
            display: none;
            background :white;
            width: 100%;
            height: 200px;
            position: absolute;
            right:0;
            top: 35px;
            z-index: 555;
            border-right: 1px solid rgb(227, 230, 239);
            border-left: 1px solid rgb(227, 230, 239);
            border-bottom: 1px solid rgb(227, 230, 239);
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
          }
        }
      }
    }
  }

  .searchResults {
    width: 100%;
    min-height: 200px;
    background: #FEF9EF;
    margin-top: -100px;
    display: none;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;

    .resultBox {
      border-top: 2px solid white;
      margin-top: 20px;
      padding-top: 20px;
      padding-bottom: 50px;
      width: 80%;
      height: 90%;
      @media only screen and (max-width: 576px) {
        padding-top: 28px;
      }
      @media only screen and (min-width: 1280px) {
        width: 70%;
      }
      .paginationWrapper {
        padding: 20px 0 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
      }
    }
    .searchClose {
      position: absolute;
      bottom: 20px;
      right: 20px;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      div {
        font-size: 13px;
        font-weight: 600;
      }
      .ant-avatar {
        background: #FEF9EF !important;
        .anticon svg {
          color : #282B37;
        }
      }
    }
  }

  // 플친 리스트
  .friendBoxWrapper {
    padding-left: 30px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    @media only screen and (max-width: 1080px) {
      padding-left: 0;
      width: 100%;
    }
    .toMeWrapper, .fromMeWrapper {
      height: 330px;
      width: 100%;
      padding: 20px;
      @media only screen and (min-width: 1080px) {
        max-width: 400px;
      }
      @media only screen and (max-width: 1080px) {
        width: 50%;
        max-width: 400px;
      }
      @media only screen and (max-width: 767px) {
        max-width: 600px;
        width: 80%;
      }
      @media only screen and (max-width: 620px) {
        width: 100%;
      }
      h4 {
        font-weight: bold;
      }

      .friendBox {
        overflow-y: auto;
        background: white;
        border: 1px solid rgb(227, 230, 239);
        padding: 10px;
        height: 250px;
        box-shadow: rgba(0, 0, 0, 0.125) 0 0 1px;
        border-radius: 5px;
      }
    }
  }

  // 채팅 박스
  .chatWrapper {
    padding-right: 30px;
    width: 60%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    @media only screen and (min-width: 1080px) {
      max-width: 800px;
      padding-right: 65px;
    }
    @media only screen and (max-width: 1080px) {
      padding: 20px;
      width: 100%;
      max-width: 800px;
      margin: 20px;
    }
    @media only screen and (max-width: 767px) {
      max-width: 600px;
      width: 80%;
    }
    @media only screen and (max-width: 620px) {
      width: 100%;
      margin: 0;
    }
    .chatTitle {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      h4 {
        font-weight: bold;
      }
      .chatPlus {
        height: 45px;
        width: 40px;
        margin-left: 10px;
      }
    }

    .chatBox {
      box-shadow: rgba(0, 0, 0, 0.125) 0 0 1px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height: 570px;
      background: white;
      width: 100%;
      border: 1px solid rgb(227, 230, 239);

      .chatList {
        width: 35%;
        height: 575px;
        border-right: 1px solid rgb(227, 230, 239);

        @media only screen and (max-width: 767px) {
          display: none;
        }
        .chatListTitle{
          display: flex;
          align-items: center;
          justify-content: center;
          width:100%;
          height: 60px;
          border-bottom: 1px solid rgb(227, 230, 239);
          span {
            font-weight: bold;
          }
        }
      }

      .nowChat {
        width: 65%;
        height: 575px;
        @media only screen and (max-width: 767px) {
          width:100%;
        }
        .nowChatTitle {
          height: 60px;
          border-bottom: 1px solid rgb(227, 230, 239);

        }
        .addChat {
          height: 455px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .addChatInput {
          height: 60px;
          border-top: 1px solid rgb(227, 230, 239);
        }
      }
    }
  }
}