.index-page-plogging {
  background-image: url('../img/ploggingMainImg_default.png');
  background-attachment: fixed;
  background-position: center 110px;
  height: 500px;
  @media only screen and (max-width: 1400px) {
    background-image: url('../img/ploggingMainImg_1400px_v2.png');
    background-position: left top;
    background-size: cover;
    height: 600px
  }
  @media only screen and (max-width: 1024px) {
    background-image: url('../img/ploggingMainImg_1024px_v2.png');
    background-size: cover;
  }
  @media only screen and (max-width: 767px) {
    background-image: url('../img/ploggingMainImg_767px.png');
    background-size: cover;
  }
  @media only screen and (max-width: 540px) {
    height: 500px;
    background-image: url('../img/ploggingMainImg_540px.png');
    background-position: left -150px;
    background-size: cover;
  }
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-right: 30%;
  padding-top: 7%;
  @media only screen and (max-width: 1400px) {
    padding-right: 20%;
    padding-top: 10%;
  }
  @media only screen and (max-width: 620px) {
    padding-right: 8%;
    padding-top: 18%;
  }

  .index-logo-title-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    h2 {
      text-shadow: 1.5px 1.5px 0 #000000ad, 1.5px 1.5px 10px #feffe6b0;
      display: contents;
      color: #ffcb77;
      font-size: 37px;
      font-weight: 800;
      width: 100%;
      margin:0;
      text-align: right;
      @media only screen and (max-width: 620px) {
        font-size: 30px;
      }
      span {
        font-size: 50px;
        @media only screen and (max-width: 620px) {
          font-size: 43px;
        }
      }
    }
    .start-plogging-btn{
      cursor: pointer;
      margin-top: 10px;
      box-shadow: 1px 1px 5px rgb(0 0 0 / 65%);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      background: #fef9ef;
      text-align: center;
      width: 150px;
      height: 45px;
      border-radius: 10px;
      color: #f07167;
      &:hover {
        transition: .25s;
        background: #f07167;
        color: #fef9ef;
      }
    }
  }

}
.index-page-ploggingInfo {
  background: #fef9ef ;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  @media only screen and (max-width: 620px) {
  padding: 50px 0;
  }
  .container {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    align-content: center;
    span {
      width: 90%;
      color : #666D92;
      span {
        color : #f07167;
        font-weight: bold;
        padding: 0 3px;
      }
    }
    h2 {
      color : #ffcb77;
      color : #50bfa5;
      text-shadow: 1px 1px 2px rgb(107 107 107 / 62%);
      font-size: 27px;
      font-weight: bolder;
      padding-bottom: 10px;
    }

    .plogginginfo-card-wrapper{
      width: 100%;
      height: 300px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      .plogginginfo-card{
        width: 30%;
        min-width: 200px;
        height: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        span {
          box-shadow: 1px 1px 2px rgb(161 161 161 / 62%);
          padding: 2px 0;
          font-weight: bold;
          border-radius: 5px;
          color: white;
          background: #65b8a6;
          text-align: center;
          width: 50%;
          margin-bottom: -14px;
          z-index: 5;
        }
        .card-box {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
          border: 2px solid #65b8a6;
          width : 90%;
          height: 80%;
          box-shadow: 1px 1px 2px rgb(161 161 161 / 62%);
          background: #ffffff87;
          img {
            width: auto;
            height: 70%;
          }
        }
        svg {
          text-shadow: 1px 1px 2px rgb(161 161 161 / 62%);
        }
      }
    }
    @media only screen and (max-width: 620px) {
      padding: 20px 20px 50px;
      flex-flow: column;
      span {
        width: 100%;
      }
    }
    @media only screen and (min-width: 620px) {
      .card + .card {
        margin-left: 15px;
      }
    }
  }
}
.index-page-how-to-use {
  background: #fef9ef;
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  .container {
    background: #fef9ef;
    max-width: 1000px;
    @media only screen and (min-width: 1400px) {
      max-width: 1400px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    align-content: center;
    span {
      width: 90%;
      color : #666D92;
      span {
        color : #f07167;
        font-weight: bold;
        padding: 0 3px;
      }
    }
    h2 {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      background : #7fc5d6;
      color: white;
      text-shadow: 1px 1px 2px rgb(107 107 107 / 62%);
      font-size: 27px;
      font-weight: bolder;
      padding: 7px 20px;
      box-shadow: 1px 1px 2px rgb(161 161 161 / 62%);
      border-radius: 10px;
      svg {
        margin-left: 10px;
      }
    }
    .card {
      margin-top: 30px;
      width: 30%;
      height: 320px;
      @media only screen and (min-width: 1400px) {
        width: 18%;
        height: 340px;
      }
      @media only screen and (max-width: 1024px) {
        height: 340px;
      }
      @media only screen and (max-width: 767px) {
        width: 40%;
        height: 320px;
      }
      justify-content: center;
      box-shadow: 1px 1px 2px rgb(161 161 161 / 62%);
      .card-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          text-align: center;
          color : #F07167;
          font-weight: bold;
        }
        img {
          width: 100%;
          max-width: 170px;
          max-height: 180px;
          margin-bottom: 10px;
        }
        span {
          text-align: center;
          font-weight: 600;
          color: #000000b0;
        }
      }
    }
    @media only screen and (max-width: 620px) {
      padding: 20px 20px 50px;
      flex-flow: column;
      h2 {
        margin-top: 30px;
      }
      span {
        width: 100%;
      }
      .card {
        width: 100%;
      }
    }
    @media only screen and (min-width: 620px) {
      .card + .card {
        margin-left: 15px;
      }
    }
  }
}
.index-page-rewardInfo {
  background: #7fc5d6;
  width: 100%;
  min-height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    background: #7fc5d6;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    align-content: center;
    .reward-information-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .reward-information{
        width: 100%;
        color : white;
        padding-top: 30px;
        font-weight: 500;
        text-shadow: 1px 1px #80808087;
        font-size: 16.5px;
        span:nth-of-type(1),
        span:nth-of-type(3),{
          color: #ffcb77;
          font-weight: 800;
          font-size: 17px;
          text-shadow: 1px 1px 2px rgb(85 83 83 / 72%);
        }
        span:nth-of-type(2),
        span:nth-of-type(4),{
          font-size: 15px;
          padding-left: 10px;
          font-weight: bold;
          color: white;
        }
      }
    }
    h2 {
      color : #ffcb77;
      text-shadow: 1px 1px 2px rgb(85 83 83 / 72%);
      font-size: 27px;
      font-weight: bolder;
      padding-bottom: 10px;
    }
    .card {
      width: 300px;
      margin-top: 30px;
      height: 280px;
      justify-content: center;
      box-shadow: 1px 1px 2px #5a5a5a96;
      .ant-card-body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        h3 {
          text-align: center;
          color : #F07167;
          font-weight: bold;
        }
        img {
          width: 100%;
          max-height: 220px;
        }
      }
    }
    button {
      margin-top: 40px;
      width: 200px;
    }
    .ant-btn.ant-btn-warning.sc-tagGq.dhwmtk:hover {
      border: none;
      background: white;
    }
    @media only screen and (max-width: 620px) {
      padding: 20px 20px 50px;
      flex-flow: column;
      h2 {
        padding-top: 30px;
      }
      span {
        width: 100%;
      }
      .card {
        width: 100%;
      }
    }
    @media only screen and (min-width: 620px) {
      .card + .card {
        margin-left: 15px;
      }
    }
  }
}
.index-page-bottom {
  background: #7fc5d6 url('../img/ploggingMainImg_default.png');
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  //opacity: 0.5;
  height: 400px;
  @media only screen and (max-width: 1400px) {
    background-image: url('../img/ploggingMainImg_1400px_v2.png');
    background-position: left top;
    background-size: cover;
  }
  @media only screen and (max-width: 1024px) {
    background-image: url('../img/ploggingMainImg_1024px_v2.png');
  }
  @media only screen and (max-width: 767px) {
    background-image: url('../img/ploggingMainImg_767px.png');
  }
  @media only screen and (max-width: 540px) {
    background-image: url('../img/ploggingMainImg_540px.png');
    background-position: left bottom;
  }
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .bottom-text-wrapper{
    width: 50%;
    height: 200px;
    //background: rgb(255 255 255 / 85%);;
    .bottom-text {
      padding: 20px 30px;
      h3, h4 {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        color: #00AF89;
      }
    }
  }
}


.ant-layout-footer {
  //background-image: url('../img/ploggingMainImg_default.png');
  //background-attachment: fixed;
  //background-position: center bottom;
  //@media only screen and (max-width: 1400px) {
  //  background-image: url('../img/ploggingMainImg_1400px.png');
  //  background-position: left top;
  //  background-size: cover;
  //}
  //@media only screen and (max-width: 1024px) {
  //  background-image: url('../img/ploggingMainImg_1024px.png');
  //  background-size: cover;
  //}
  //@media only screen and (max-width: 767px) {
  //  background-image: url('../img/ploggingMainImg_767px.png');
  //  background-size: cover;
  //}
  //@media only screen and (max-width: 540px) {
  //  background-image: url('../img/ploggingMainImg_540px.png');
  //  background-position: left -150px;
  //  background-size: cover;
  //}

}