.searchFormWrapper {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-left: auto;

  @media only screen and (max-width: 1280px) {
    justify-content: space-around;
  }
  .memberForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 60%;
    align-items: center;
    height: 60px;
    @media only screen and (min-width: 1280px) {
      max-width: 450px;
    }
    @media only screen and (min-width: 840px) {
      margin-left: 30px;
      max-width: 350px;
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    .badgeWrapper {
      width: 40px;
      height: 40px;
      border: 1px solid gray;
      border-radius: 50%;
      margin-left: 5px;
      margin-right: 10px;
    }
    .idWrapper{
      font-size: 13px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      .id{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-weight: bold;
        .friendAdd, .friendOn {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          margin-left: 5px;
          height: 20px;
          border-radius: 5px;
          span {
            font-size: 11px;
            font-weight: bold;
            padding: 3px;
            color:#795548;
          }
        }
      }
      .intro{
        font-size: 12px;
      }
    }
    .openChallenges{
      display: none;
      margin-left:auto;
      @media only screen and (max-width: 767px) {
        display: flex;
      }
    }
  }

  .challengesWrapper{
    width: 40%;
    max-width: 250px;
    background : white;
    border : 1px solid rgb(227, 230, 239);
    height: 60px;
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    @media only screen and (max-width: 767px) {
      display: none;
    }
    .challengeTitle {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-right: 1px solid rgb(227, 230, 239);
      background: #ffcb77;
      color: white;
      @media only screen and (max-width: 767px) {
        display: none;
      }
      span {
        padding: 0 5px;
        font-size: 11px;
        font-weight: bold;
      }
    }
    .challenges{
      padding: 0 10px;
      li {
        font-size: 11px;
        font-weight: bold;
        //list-style: none;
      }
    }
  }
  & + & {
    margin-top: 5px;
  }
}