.startPage {
  .sidebar {
    //코스 카드
    .ninjadash-course-card-single {
      margin: 0;
      .ant-card {
        margin-top: 25px;
        margin-left: 25px;
        height: 650px;
        width: 95%;

        .ninjadash-course-card-content {
          padding: 15px;
          .top-message {
            display: flex;
            justify-content: center;
            .ninjadash-course-card-title {
              justify-content: center;
              text-align: center;
              padding-top: 15px;
              font-size: 25px;
            }
            .tree {
              margin-top: 18px;
              margin-left: 7px;
              color: #17c382;
              width: 30px;
              height: 30px;
            }
          }
          .ninjadash-course-card-author {
            justify-content: center;
            margin-top: 30px;
            span {
              font-size: 15px;
              text-align: center;
              color: #777;
              font-weight: 500;
            }
          }
          .timeZone {
            text-align: center;
            margin-top: 120px;
            h3 {
              font-size: 25px;
            }
          }
        }
      }

      .end-wrap {
        text-align: center;
        margin-top: 150px;
        .end-button {
          font-size: 18px;
          &:hover {
            background-color: #17c382;
            span {
              color: white;
            }
          }
        }
      }
    }
  }
}
.ploggingEnd {
  padding: 20px;
}
.ninjadash-course-card-meta {
  display: unset;
  h2 {
    margin-left: 10px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 3px;
  }
  h5 {
    margin-left: 10px;
    font-size: 15px;
    color: #f07167;
    font-weight: 300;
  }
  .ninjadash-course-card-meta__right {
    margin-top: 50px;
    padding: 15px;
    font-size: 20px;
    .distance {
      padding-top: 50px;
      padding-bottom: 50px;
      h4 {
        font-size: 25px;
      }
      .bg-secondary {
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        border-radius: 30px;
        height: 40px;
        span {
          margin-left: 5px;
          font-size: 20px;
        }
      }
      .bg-primary {
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        border-radius: 30px;
        height: 40px;
        span {
          margin-left: 5px;
          font-size: 20px;
        }
      }
    }
  }
}
.footer-buttons {
  Button {
    &:hover {
      opacity: 0.7;
    }
  }
}
