.startPage {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  @media only screen and (max-width: 1080px) {
    flex-direction: column-reverse;
  }
  .map {
    width: 75%;

    @media only screen and (max-width: 1400px) {
      width: 70%;
    }
    @media only screen and (max-width: 1080px) {
      width: 100%;
      height: 450px;
      overflow: hidden;
    }
  }
  .mapEmpty {
    height: 700px;
    text-align: center;
    background-color: white;
    border: 1px solid #fef9ef;
    .mapEmptyBox {
      // background-color: #fef9ef;
      margin: 50px auto;
      border-radius: 20px;
      margin-top: 180px;
      width: 300px;
      @media only screen and (max-width: 1080px) {
        margin-top: 50px;
      }
      .plogginglogo {
        margin: auto;
        width: 200px;
        height: 200px;
        background-image: url(../img/plogginglogo.png);
        background-size: cover;
        @media only screen and (max-width: 1080px) {
          margin-top: 80px;
        }
      }
      h1 {
        height: 50px;
        padding-left: 18px;
        font-size: 20px;
        font-weight: 700;
        color: #227c9d;
        span {
          position: relative;
          top: 5px;
          display: inline-block;
          animation: bounce 0.3s ease infinite alternate;

          &:nth-child(2) {
            animation-delay: 0.1s;
          }
          &:nth-child(3) {
            animation-delay: 0.2s;
          }
          &:nth-child(4) {
            animation-delay: 0.3s;
          }
          &:nth-child(5) {
            animation-delay: 0.4s;
          }
          &:nth-child(6) {
            animation-delay: 0.5s;
          }
          &:nth-child(7) {
            animation-delay: 0.6s;
          }
          &:nth-child(8) {
            animation-delay: 0.7s;
          }
          @keyframes bounce {
            100% {
              top: -3px;
            }
          }
        }
      }
      h6 {
        padding-left: 18px;
        color: #ffcb77;
        font-weight: 300;
        font-size: 13px;
        padding-bottom: 30px;
      }
    }

    width: 75%;

    @media only screen and (max-width: 1400px) {
      width: 70%;
    }
    @media only screen and (max-width: 1080px) {
      width: 100%;
      height: 450px;
      overflow: hidden;
    }
  }
  .sidebar {
    width: 25%;
    max-height: 700px;
    @media only screen and (max-width: 1400px) {
      width: 30%;
    }
    @media only screen and (max-width: 1080px) {
      width: 100%;
      height: 450px;
      overflow: hidden;
    }
    //코스 카드
    .ninjadash-course-card-single {
      margin: 0;
      .ant-card {
        height: 650px;
        margin: 20px;

        .ninjadash-course-card-content {
          padding: 15px;
          .top-message {
            display: flex;
            justify-content: center;
            .ninjadash-course-card-title {
              justify-content: center;
              text-align: center;
              padding-top: 15px;
              font-size: 25px;
            }
            .tree {
              margin-top: 18px;
              margin-left: 7px;
              color: #17c382;
              width: 30px;
              height: 30px;
            }
          }
          .ninjadash-course-card-author {
            justify-content: center;
            margin-top: 30px;
            span {
              font-size: 15px;
              text-align: center;
              color: #777;
              font-weight: 500;
            }
          }
          .timeZone {
            text-align: center;
            margin-top: 120px;
            h3 {
              font-size: 25px;
            }
          }
        }
      }

      .end-wrap {
        text-align: center;
        margin-top: 150px;
        .end-button {
          font-size: 18px;
          &:hover {
            background-color: #17c382;
            span {
              color: white;
            }
          }
        }
      }
    }
  }
}
.ploggingEnd {
  padding: 20px;
}
.ninjadash-course-card-meta {
  display: unset;
  h2 {
    margin-left: 10px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 3px;
  }
  h5 {
    margin-left: 10px;
    font-size: 15px;
    color: #f07167;
    font-weight: 300;
  }
  .ninjadash-course-card-meta__right {
    margin-top: 50px;
    padding: 15px;
    font-size: 20px;
    .distance {
      padding-top: 50px;
      padding-bottom: 50px;
      h4 {
        font-size: 25px;
      }
      .bg-secondary {
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        border-radius: 30px;
        height: 40px;
        span {
          margin-left: 5px;
          font-size: 20px;
        }
      }
      .bg-primary {
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        border-radius: 30px;
        height: 40px;
        span {
          margin-left: 5px;
          font-size: 20px;
        }
      }
    }
  }
}
.footer-buttons {
  Button {
    &:hover {
      opacity: 0.7;
    }
  }
}
