.ploggingPage {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  @media only screen and (max-width: 1080px) {
    flex-direction: column-reverse;
  }

  .map {
    width: 75%;

    @media only screen and (max-width: 1400px) {
      width: 70%;
    }
    @media only screen and (max-width: 1080px) {
      width: 100%;
      height: 450px;
      overflow: hidden;
    }
  }
  .mapEmpty {
    height: 700px;
    text-align: center;
    background-color: white;
    border: 1px solid #fef9ef;
    .mapEmptyBox {
      // background-color: #fef9ef;
      margin: 50px auto;
      border-radius: 20px;
      margin-top: 180px;
      width: 300px;
      @media only screen and (max-width: 1080px) {
        margin-top: 50px;
      }
      .plogginglogo {
        margin: auto;
        width: 200px;
        height: 200px;
        background-image: url(../img/plogginglogo.png);
        background-size: cover;
        @media only screen and (max-width: 1080px) {
          margin-top: 80px;
        }
      }
      h1 {
        padding-left: 18px;
        font-size: 20px;
        font-weight: 700;
        color: #227c9d;
        span {
          position: relative;
          top: 20px;
          display: inline-block;
          animation: bounce 0.3s ease infinite alternate;
          text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 transparent,
            0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);

          &:nth-child(2) {
            animation-delay: 0.1s;
          }
          &:nth-child(3) {
            animation-delay: 0.2s;
          }
          &:nth-child(4) {
            animation-delay: 0.3s;
          }
          &:nth-child(5) {
            animation-delay: 0.4s;
          }
          &:nth-child(6) {
            animation-delay: 0.5s;
          }
          &:nth-child(7) {
            animation-delay: 0.6s;
          }
          &:nth-child(8) {
            animation-delay: 0.7s;
          }
          @keyframes bounce {
            100% {
              top: -20px;
              text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc,
                0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 25px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
      h6 {
        padding-left: 18px;
        color: #ffcb77;
        font-weight: 300;
        font-size: 13px;
        padding-bottom: 30px;
      }
    }

    width: 75%;

    @media only screen and (max-width: 1400px) {
      width: 70%;
    }
    @media only screen and (max-width: 1080px) {
      width: 100%;
      height: 450px;
      overflow: hidden;
    }
  }
  .sidebar {
    width: 25%;
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    margin: 0, 5%;
    @media only screen and (max-width: 1400px) {
      width: 30%;
    }
    @media only screen and (max-width: 1080px) {
      overflow-y: unset;
      width: 100%;
      max-height: unset;
    }
    //버튼들
    .buttons {
      display: flex;
      justify-content: center;

      margin-top: 20px;
      Button {
        @media only screen and (max-width: 1700px) {
          font-size: 15px;
        }
        font-size: 20px;
        width: 375px;
        margin: 7px;
        &:hover {
          font-size: 25px;
          @media only screen and (max-width: 1700px) {
            font-size: 20px;
          }
        }
      }
    }

    //검색 헤더
    .searchWrapper {
      width: 100%;
      padding: 20px 10px;

      .searchInput {
        .ninjadash-knowledgetop {
          padding-left: 5%;
          padding-right: 5%;
          padding-top: 15px;
          padding-bottom: 30px;

          .searchText {
            margin: 10px 20px;
            display: flex;
            @media only screen and (max-width: 1700px) {
              justify-content: center;
            }
            h3 {
              font-weight: bold;
              font-size: 20px;
            }
            .mapPin {
              margin-left: 5px;
              margin-top: 5px;
              color: #00af89;
            }
          }
        }

        .ninjadash-knowledgetop__search--form {
          width: 100%;

          .ninjadash-knowledgetop__formInner {
            .ant-form-item-control-input {
              input {
                border: 1px solid rgb(206, 206, 206);
                max-width: 700px;
                position: relative;
                border-radius: 25px;
              }
            }

            .btn-search {
              border: none;
              border-bottom-right-radius: 25px;
              border-top-right-radius: 25px;
              border-right: 1px solid rgb(206, 206, 206);
              position: absolute;
              right: 0;
              top: 0;
              color: #00af89;
              &:hover {
                .searchIcon {
                  transform: scale(1.3);
                }
              }
              .searchIcon {
                overflow: hidden;
              }
            }
          }
        }
      }
    }

    //코스 카드
    .ninjadash-course-card-single {
      width: 100%;
      padding: 0px 10px;
      .ninjadash-course-card-content {
        cursor: pointer;
        .ninjadash-course-card-title {
          font-size: 17px;
          @media only screen and (max-width: 1700px) {
            font-size: 14px;
          }
          h4 {
            &:hover {
              color: #00af89;
            }
          }
        }
        .ninjadash-course-card-author {
          span {
            @media only screen and (max-width: 1700px) {
              font-size: 13px;
            }
            font-size: 14px;
            color: #777;
            font-weight: 300;
          }
        }
        .ninjadash-course-card-meta {
          @media only screen and (max-width: 1700px) {
            flex-wrap: wrap;
          }
          .ninjadash-course-card-meta__pricing {
            font-size: 17px;
            @media only screen and (max-width: 1700px) {
              font-size: 13px;
            }
            color: #ffcb77;
            padding-bottom: 5px;
          }
        }
      }
    }
    //모달
  }
}
.ploggingStart {
  @media only screen and (max-width: 767px) {
    text-align: center;
  }
  padding: 20px;
  h2 {
    font-weight: 700;
  }
  h5 {
    color: #227c9d;
    font-weight: 400;
    font-size: 15px;
  }
  .ploggingModalBody {
    @media only screen and (max-width: 767px) {
      text-align: center;
    }
    .auth-top {
      display: flex;
      margin-top: 20px;

      @media only screen and (max-width: 767px) {
        justify-content: center;
      }

      h3 {
        @media only screen and (max-width: 767px) {
          font-size: 18px;
        }
        font-size: 22px;
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
    h1 {
      @media only screen and (max-width: 767px) {
        font-size: 14px;
      }
      font-size: 15px;
      color: #00af89;
      margin-left: 5px;
      margin-top: 30px;
    }
    h4 {
      @media only screen and (max-width: 767px) {
        font-size: 15px;
      }

      padding: 5px 20px;
      font-size: 17px;
    }
    h6 {
      @media only screen and (max-width: 767px) {
        font-size: 13px;
      }

      font-size: 15px;
      color: #f07167;
      margin-bottom: 0;
    }
    .picture {
      border-radius: 10px;
      background-color: #fef9ef;
      .img-wrap {
        @media only screen and (max-width: 767px) {
          display: unset;
        }
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        .auth-wrap {
          width: 300px;
          height: 330px;
          margin: 15px auto;
          margin-top: 0;
          text-align: center;

          .trashP {
            box-shadow: 5px 5px 10px #ccc;
            margin: 10px auto;
            width: 230px;
            height: 250px;

            background-size: cover;
            background-image: url(../img/trashPicture.png);
          }
          .ploggingP {
            box-shadow: 5px 5px 10px #ccc;
            margin: 10px auto;
            width: 230px;
            height: 250px;

            background-size: cover;
            background-image: url(../img/ploggingPicture.jpg);
          }
        }
      }
    }
  }
}
