.profile-component{
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .sc-kMkxaj.bdsIRZ {
    width: 80%;
    max-width: 900px;
    @media only screen and (max-width: 1024px) {
      width: 90%;
    }
    @media only screen and (max-width: 840px) {
      max-width: 500px;
    }
    .ant-card.ant-card-bordered {
      width: 100%;
      .ant-card-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        @media only screen and (max-width: 840px) {
          flex-direction: column;
        }
        .card__content {
          padding-left: 30px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: flex-start;
          @media only screen and (max-width: 840px) {
            padding-top: 20px;
          }
          .content-member-info {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-start;
            .content-participation{
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              div + div {
                padding-left: 10px;
              }
              span {
                font-weight: bold;
              }
            }
            .content-point {
              span {
                font-weight: bold;
                padding: 0 5px;
              }
            }
          }
        }
        .card__actions {
          flex-direction: column;
          margin-left: auto;
        }
      }

    }
  }

  .ant-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    span {
      padding-left: 5px;
    }
    svg {
      width: 25px !important;
      height: 25px !important;
    }
  }
  .boCNEm .user-card .card__actions button:first-child:hover {
    background: rgb(102 178 150) !important;
    border : none !important;
  }
  .boCNEm .user-card .card__actions button:nth-child(2):hover,
  .boCNEm .user-card .card__actions button:nth-child(3):hover,
  {
    border : none !important;
    cursor: default !important;
    background: rgb(233 233 233) !important;
    color: white !important;
  }
  .boCNEm .user-card .card__actions button:nth-child(4):hover,
  .boCNEm .user-card .card__actions button:last-child:hover
  {
    background: rgb(240 115 105) !important;
    border : none !important;
  }


  .tab-component-wrapper{
    width: 80%;
    max-width: 900px;
    @media only screen and (max-width: 1024px) {
      width: 90%;
    }
    @media only screen and (max-width: 840px) {
      max-width: 500px;
    }
  }
}