.rewardpage-wrapper {
  background: white;
  width: 100%;
  display: inline-block;

  .rewardpage-info {
    background: #FEF9EF;
    width: 100%;
    min-height: 870px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      background: #FEF9EF;
      max-width: 75%;
      display: flex;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;
      color: white;
      align-content: center;

      h2 {
        color: #17c382;
        font-size: 35px;
        font-weight: bolder;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      .container-body-header {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 5px;
        display: inline-block;


        span {
          line-height: 200%;
          display: inline-block;
          font-size: 22px;
          font-weight: bold;
          width: 100%;
          color: #666D92;
          margin-bottom: 10px;
        }
      }

      .container-info-header {
        display: flex;
        width: 100%;
        height: 300px;
        border: #666D92 3px solid;
        border-radius: 10px;
        margin-bottom: 30px;

        .ex-img {
          display: flex;
          width: 150px;
          margin: 0 auto;
        }

        .card-header {
          flex-direction: row;
          align-items: center;
          width: 100%;
          height: 85px;
          background-color: #FEF9EF;
          border-bottom: #666D92 3px solid;
          span {
            color: #666D92;
            display: flex;
            font-size: 32px;
            font-weight: bold;
            justify-content: center;
          }
          p {
            display: flex;
            font-size: 32px;
            font-weight: bold;
            justify-content: center;
            color: #17c382;
          }
        }
      }
    }
  }

  .card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .card {
      width: 270px;
      height: 300px;
      border-radius: 23px;
      background-color: #FEF9EF;
      border: #666D92 3px solid;

      h3 {
        font-size: 22px;
        text-align: center;
        color: #1b1e2b;
        font-weight: bold;
      }

      h4 {
        font-size: 20px;
        text-align: center;
        color: #1b1e2b;
        font-weight: bold;
      }
    }
  }

  @media only screen and (max-width: 620px) {
    padding: 20px 20px 50px;
    flex-flow: column;
    h2 {
      padding-top: 30px;
    }
    span {
      width: 100%;
    }
    .card {
      width: 100%;
    }
  }
  @media only screen and (min-width: 620px) {
    .card + .card {
      margin-left: 15px;
    }
  }
}

.rewardpage-rank {
  background: #FFCB77;
  width: 100%;
  min-height: 910px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-rank {
    background: #FFCB77;
    max-width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    align-content: center;

    .container-body-rank {
      width: 100%;
      margin-bottom: 15px;
    }

    span {
      display: inline-block;
      width: 100%;
      color: #666D92;
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: bold;
    }

    h2 {
      padding-top: 15px;
      color: #17C382;
      font-size: 35px;
      font-weight: bolder;
      padding-bottom: 10px;
    }

    .container-card-wrapper {
      width: 100%;
      display: flex;

      .rank-trophy {
        width: 300px;
        padding-top: 20px;
        margin-right: 15px;
      }

      .card-myRanking {
        width: 90%;
        height: 100%;
        justify-content: center;
      }

      .total-ranking {
        width: 1000px;
        Table {
          background-color: #FFCB77;
        }
        Table th {
          text-align: center;
          font-weight: bold;
          font-size: 20px;
          color : #17C382;
          background-color: #FFCB77;
          border: none;
        }
        Table td {
          font-weight: bold;
          text-align: center;
          border: none;
        }
      }
    }

    @media only screen and (max-width: 620px) {
      padding: 20px 20px 50px;
      flex-flow: column;
      h2 {
        padding-top: 30px;
      }
      span {
        width: 100%;
      }
      .card {
        width: 100%;
      }
    }
    @media only screen and (min-width: 620px) {
      .card + .card {
        margin-left: 15px;
      }
    }
  }
}

.rewardpage-product {
  background: #FEF9EF;
  width: 100%;
  min-height: 910px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-product {
    background: #FEF9EF;
    max-width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    font-size: 22px;
    font-weight: bold;
    align-content: center;

    h2 {
      padding-top: 15px;
      color: #17C382;
      font-size: 35px;
      font-weight: bolder;
      padding-bottom: 10px;
    }

    .container-body-product {
      display: flex;
      width: 100%;
      margin-bottom: 15px;
    }

    .product-table-wrapper {
      width: 100%;

      .container-product-wrapper {
        background: #FEF9EF;
        max-width: 90%;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        align-content: center;

        h3 {
          display: flex;
          padding-top: 15px;
          color: #17C382;
          font-size: 20px;
          font-weight: bolder;
          padding-bottom: 1px;
        }
      }

      .container-productList {
        display: flex;
        width: 100%;
        background: #FEF9EF;
        border: black 1px solid;
        .container-slide {
          width: 100%;
          color: black;
          background-color: #FEF9EF;
          .ex-img {
            display: flex;
            width: 150px;
            height: 150px;
            margin: 15px 15px 5px;
            span {
              color: #666D92;
              display: flex;
              font-size: 22px;
              font-weight: bold;
              margin: 15px 15px 5px;
            }
          }
        }
      }
    }

    .productButton {
      display: inline-block;
      width: 470px;
      height: 70px;
      margin: 15px auto auto;
      border-radius: 10px;
      background: #17C382;
      font-size: 22px;
    }

    @media only screen and (max-width: 620px) {
      padding: 20px 20px 50px;
      flex-flow: column;
      h2 {
        padding-top: 30px;
      }
      span {
        width: 100%;
      }
      .card {
        width: 100%;
      }
    }
    @media only screen and (min-width: 620px) {
      .card + .card {
      }
    }
  }
}

.rewardpage-donation {
  background: #FFCB77;
  width: 100%;
  min-height: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-donation {
    background: #FFCB77;
    width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    align-content: center;

    h2 {
      padding-top: 15px;
      color: #17C382;
      font-size: 35px;
      font-weight: 900;
    }
    span {
      width: 100%;
      display: flex;
      color: #666D92;
      font-size: 22px;
      text-align: center;
      justify-content: center;
    }
    .container-body-donation {
      width: 100%;
      margin-bottom: 15px;
    }

    .useDonation {
      text-align: center;
      width: 100%;
      height: 40px;
      font-weight: bold;
      padding: 20px;
    }

    .donationButton {
      display: block;
      width: 470px;
      height: 70px;
      margin: 15px auto auto;
      font-weight: bold;
      font-size: 22px;
      border-radius: 10px;
      background: #17C382;
    }

    .container-donation-wrap {
      width: 100%;
      min-height: 900px;
      .donation-company {
        background-color: #FFCB77;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
    }
  }
}
