.rewardpage-wrapper {
  background: white;
  width: 100%;
  display: inline-block;

  .rewardpage-info {
    background: #FEF9EF;
    width: 100%;
    min-height: 870px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      background: #FEF9EF;
      max-width: 75%;
      display: flex;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;
      color: white;
      align-content: center;

      h2 {
        color: #f07167;
        font-size: 30px;
        font-weight: bolder;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      .container-body-header {
        width: 100%;
        margin-bottom: 20px;
        display: inline-block;

        span {
          display: inline-block;
          font-size: 19px;
          width: 100%;
          color: #1b1e2b;
          margin-bottom: 10px;
        }
      }

      .container-info-header {
        display: flex;
        width: 100%;
        height: 300px;
        border: #1b1e2b 1px solid;
        margin-bottom: 30px;

        .ex-img {
          display: flex;
          width: 150px;
          margin: 0 auto;
        }

        .card-header {
          width: 100%;
          height: 90px;
          padding: 0;

          p {
            display: flex;
            font-size: 33px;
            font-weight: bold;
            justify-content: center;
          }
        }
      }
    }
  }

  .card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .card {
      width: 250px;
      height: 300px;
      justify-content: center;

      h3 {
        font-size: medium;
        text-align: center;
        color: #1b1e2b;
        font-weight: bold;
      }

      h4 {
        text-align: center;
        color: #1b1e2b;
        font-weight: bold;
      }
    }

    .smileIcon {
      width: 90px;
      height: 40px;
      border: #1b1e2b 1px solid;
    }
  }

  @media only screen and (max-width: 620px) {
    padding: 20px 20px 50px;
    flex-flow: column;
    h2 {
      padding-top: 30px;
    }
    span {
      width: 100%;
    }
    .card {
      width: 100%;
    }
  }
  @media only screen and (min-width: 620px) {
    .card + .card {
      margin-left: 15px;
    }
  }
}

.rewardpage-rank {
  background: #17C382;
  width: 100%;
  min-height: 910px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-rank {
    background: #17C382;
    max-width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    align-content: center;

    .container-body-rank {
      width: 100%;
      margin-bottom: 15px;
    }

    span {
      display: inline-block;
      width: 100%;
      color: #1b1e2b;
      margin-bottom: 10px;
    }

    h2 {
      padding-top: 15px;
      color: #f07167;
      font-size: 27px;
      font-weight: bolder;
      padding-bottom: 10px;
    }

    .container-card-wrapper {
      width: 100%;
      display: flex;

      .ex-img {
        width: 300px;
      }

      .card-myRanking {
        width: 80%;
        height: 100%;
        justify-content: center;
      }

      .total-ranking {
        width: 800px;

        Table th {
          text-align: center;
          font-weight: bold;
          font-size: 14px;
        }

        Table td {
          text-align: center;
        }
      }
    }

    @media only screen and (max-width: 620px) {
      padding: 20px 20px 50px;
      flex-flow: column;
      h2 {
        padding-top: 30px;
      }
      span {
        width: 100%;
      }
      .card {
        width: 100%;
      }
    }
    @media only screen and (min-width: 620px) {
      .card + .card {
        margin-left: 15px;
      }
    }
  }
}

.rewardpage-product {
  background: #227C9D;
  width: 100%;
  min-height: 910px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-product {
    background: #227C9D;
    max-width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    align-content: center;

    h2 {
      padding-top: 15px;
      color: #f07167;
      font-size: 27px;
      font-weight: bolder;
      padding-bottom: 10px;
    }

    .container-body-product {
      display: flex;
      width: 100%;
      margin-bottom: 15px;
    }

    .product-table-wrapper {
      //display: inline-block;
      width: 100%;

      .container-product-wrapper {
        background: #227C9D;
        max-width: 90%;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        align-content: center;

        h3 {
          display: flex;
          padding-top: 15px;
          color: #f07167;
          font-size: 20px;
          font-weight: bolder;
          padding-bottom: 1px;
        }
      }

      .container-productList {
        display: flex;
        width: 100%;
        background: white;
        border: black 1px solid;
        .container-slide {
          width: 100%;
          color: black;

          .ex-img {
            display: flex;
            width: 150px;
            height: 150px;
            margin: 15px 15px 5px;
            span {
              color: black;
              display: flex;
              font-size: 12px;
              font-weight: bold;
              margin: 15px 15px 5px;
            }
          }
        }
      }
    }

    .productButton {
      display: inline-block;
      width: 350px;
      height: 43px;
      margin: 15px auto auto;
      background: #F07167;
    }

    @media only screen and (max-width: 620px) {
      padding: 20px 20px 50px;
      flex-flow: column;
      h2 {
        padding-top: 30px;
      }
      span {
        width: 100%;
      }
      .card {
        width: 100%;
      }
    }
    @media only screen and (min-width: 620px) {
      .card + .card {
      }
    }
  }
}

.rewardpage-donation {
  background: #FEF9EF;
  width: 100%;
  min-height: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-donation {
    background: #FEF9EF;
    max-width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    align-content: center;

    .container-body-donation {
      width: 100%;
      margin-bottom: 15px;
    }

    .useDonation {
      width: 100%;
      height: 30px;
      border: black 1px solid;
      font-weight: bold;
      text-align: center;
    }

    span {
      width: 100%;
      color: #1b1e2b;
      //margin-bottom: 10px;
      padding: 10px;
    }
    h2 {
      margin-left: 25px;
      padding-top: 15px;
      color: #17C382;
      font-size: 27px;
      font-weight: bolder;
    }

    .container-card-wrapper {
      margin: auto;
      .ex-img {
        justify-content: center;
        width: 550px;
        height: 450px;
      }
    }

    .donationButton {
      display: block;
      width: 550px;
      height: 90px;
      margin: 20px auto auto;
      background: #F07167;
      font-weight: bold;
      font-size: 23px;
      p {

      }
    }

    .container-donation-wrap {
      width: 100%;
      min-height: 900px;
      .donation-company {
        background-color: #FEF9EF;
      }
    }

    @media only screen and (max-width: 620px) {
      padding: 20px 20px 50px;
      flex-flow: column;
      h2 {
        padding-top: 30px;
      }
      span {
        width: 100%;
      }
      .card {
        width: 100%;
      }
    }
    @media only screen and (min-width: 620px) {
      .card + .card {
        margin-left: 15px;
      }
    }
  }
}
