.sidebar-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  padding-bottom: 70px;
  @media only screen and (max-width: 620px) {
    padding-bottom: 40px;
  }
  justify-content: space-between;
  .myinfo-tab {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
    padding-right: 20px;
    .mypage-wrapper{
      & > span {
        padding-right: 5px;
      }
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 10px;
      position: relative;
      align-items: flex-end;
      margin-left: auto;
      border-bottom: 1px solid gray;
      .dzYYRg .anticon svg {
        width : 40px !important;
        height: 60px;
      }
    }
    .signout-wrapper{
      background: rgb(40 43 55 / 35%);
      padding:5px 10px;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-end;
      align-content: flex-start;
      margin: 20px 0px 0 auto;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color : rgb(130, 49, 211);
      }
      .ewVEgJ .anticon svg {
        margin-top: 10px;
        width: 40px !important;
      }
    }
    a + a {
      padding-top: 25px;
    }
    .signin-wrapper {
      width: 80%;
      padding-right: 30px;
      text-align: center;
      span {
        &:first-child{
          font-size: 18px;
        }
        &:last-child{
          font-size: 13px;
        }
      }
    }
  }
  ul {
    .ant-menu-item, .ant-menu-submenu-title {
      height : 60px !important;
    }
  }
}
