

/******* 챌린지 ********/

// 참여중인 챌린지 리스트 스타일

.current-challenge {
  > div {

    float: left;
    padding: 20px;
    
  }
  
  .description > div:nth-child(1){
    span {
      &:last-child{
        float: right;
      }
    }
  }

  .description > div:nth-child(2){
    span {
      float: right;
    }
  }


  .challenge-img > img{
    width: 240px;
    height: 150px;
  }
}



// 참여했던 챌린지 리스트 스타일
.challenge-endlist {

  

  display: block;
  ul:first-child {
    font-size: 22px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

    margin: 0;
    li{
      border-bottom: 1px solid gray;
      display: flex;
      span {
        text-align: center;
        float: left;
        padding: 0 50px;
      }
    }
  }
  ul:last-child{
    display: block;
    margin: 0 auto;
    // padding: 0 px;
    font-size: 1.2em;
    // border-bottom: 2px solid gray;
    li:first-child {
      padding: 0 20px;
    }

    li:nth-child(n+1){
      padding: 12px;
      // border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      display: flex;
      text-align: left;
      span {
        overflow: hidden;
        white-space: nowrap;
        float: left;
        padding: 0 50px;
      }
    }
  }

}

//참여 중인 챌린지 리스트